.Authentication{
    width: 30%;
    min-width: 300px;
    margin: auto;
    margin-top: 80px;
}

.Authentication .title {
    text-align: center;
    font-size: 30pt;
}

.submit-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.error-message {
    font-size: 10pt;
    text-align: center;
    color:rgb(212, 45, 45);
    height: 20px;
    margin: 10px;
}