.VideoAdd .video-url-input-wrapper {
    margin-top: 10px;
    background: #FFF;
    position: absolute;
    height: 54px;
    width: 300px;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0px 4px 30px 0px rgba(220, 220, 220, 1);
    z-index: 1000;
}